<!DOCTYPE html>
<html lang="en">
  {%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bookreservation/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <span class="nav-bar links">
        <a class='links' href='{% url 'home' %}'>Home</a>
        <a href='{% url 'students' %}'>Student</a>
        <a href='{% url 'books' %}'>Book</a>
        <a href='{% url 'reserve' %}'>Book reservation</a>
      </span>
      <div class="content-wrapper">{% block content%} {% endblock%}</div>
    </div>
  </body>
</html>
