{% extends "bookreservation/base.html" %} {% block content %}
<div class="table-wrapper">
  <table>
    <thead class="dashboard-table-style">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Checked Out?</th>
        <th># of times checked out</th>
      </tr>
    </thead>
    <tbody class="dashboard-table-style">
      {% for book in data%}
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author_name}}</td>
        <td>{{book.currently_checked_out}}</td>
        <td>{{book.number_of_times_checked_out}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="pagination">
  <span class="step-links">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">previous</a>
    {% endif %}

    <span> Page {{ page.number }} of {{ page.paginator.num_pages }}. </span>
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>

{% endblock %}
