{% extends "bookreservation/base.html" %} {% block content %}
<div class="table-wrapper">
  <table>
    <thead class="dashboard-table-style">
      <tr>
        <th>Total Students</th>
        <th>Average GPA</th>
        <th>Seniors</th>
        <th>Juniors</th>
        <th>Sophomores</th>
        <th>Freshmen</th>
      </tr>
    </thead>
    <tbody class="dashboard-table-style">
      <tr>
        <td>{{studentCount}}</td>
        <td>{{averageGPA}}</td>
        <td>{{seniorsCount}}</td>
        <td>{{juniorsCount}}</td>
        <td>{{sophomoresCount}}</td>
        <td>{{freshmanCount}}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
